<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="Headless" value="False" />
    <add key="StartAtFilmNumber" value ="1"/>
    <add key="EndAtFilmNumber" value =""/>
    <add key="AttachToExistingCsv" value="False"/>
  </appSettings>
</configuration>